.main-btn {
    background-color: var(--main-color);
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 26px;
    margin-bottom: 24px;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    color: white;
}

.main-btn:hover {
    color: white;

}

.sec-main-btn {
    background-color: var(--main-color);
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    margin-bottom: 24px;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    color: white;
}

.outline-btn{
    border: 1px solid var(--main-color);
    border-radius: 8px;
    color: var(--main-color);
    padding: 12px;
    font-weight: 500;
}

.button-black {
    display: flex;
    width: 220px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    background: black;
    margin-top: 24px;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    color: white;

}


.sec-button {
    display: flex;
    width: 200px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 999px;
    border: 1px solid #A7A7A7;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;

    color: #2E2E2E;
}

.sec-button:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}
