
.fullwidth-video {
    width: 100%;
    position: relative;

}


.fullwidth-video video {
    filter: brightness(0.3);
    /* min-height: 100vh; */

}

.fullwidth-video-content {
    position: absolute;
    top: 30%;
    right: 30rem;
    left: 30rem;
    /* left: 50%; */
    color: white;
    text-align: center;
}

.slick-ecommerce img{
    height: 50px !important;
    width: 120px;
}